.section_one{
    padding-top: 112px;
}
.section_one .section_one_content{
    display: flex;
    justify-content: space-between;
}
.section_one_content .left{
    display: flex;
    flex-direction: column;
    max-width: 46%;
    justify-content: center;
}
.section_one_content .right{
    max-width: 46%;
}
.section_two{
    padding: 168px 0 143px 0;
    background: #F5F9FC;
}



.section_two .section_two_content .row{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}

.section_two .section_two_content .row .card{
    flex-basis: 15.5%;
    display: flex;
    background-color:#FFF;
    min-height: 147px;
    justify-content: center;
    border: 1px solid  rgba(11, 54, 148, 0.15);

    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    padding: 0 10px;
}
.section_two .section_two_content .row .card:hover{
    transition: all 0.4s ease-in-out;

    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}


.section_three{
    padding: 100px 0 120px 0;
    background-color: #FFF;;
}

.section_three .section_three_content{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.section_three .section_three_content .top_content{
    max-width: 74%;
} 

.section_three .section_three_content .bottom_content .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.section_three .section_three_content .bottom_content .row .card{
    flex-basis: 25%;
    display: flex;
    cursor: pointer;
    gap: 30px;
    background-color:#FFF;
    min-height: 147px;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid  rgba(11, 54, 148, 0.15);
    flex-direction: column;
    transition: all 0.4s ease-in-out;
padding: 30px 30px;
}
.section_three .section_three_content .bottom_content .row .card:hover{
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;

}




/* section four  styling */

.section_four{
    padding: 120px 0;
    background: #F5F9FC;
}

.section_four .section_four_content{
    display: flex;
    flex-direction: column;
}
.section_four .section_four_content .top_content{
    max-width: 74%;
    margin-bottom: 70px;
}


.section_four .section_four_content .middle_content{
    display: flex;
    flex-direction: row;
justify-content: space-between;
margin-bottom: 50px;

}

.section_four .section_four_content .bottom_content{
    justify-content: center;
    display: flex;
}
.section_four .section_four_content .middle_content .left ,.right{
    max-width: 47%;
}

.section_four .section_four_content .middle_content .top .bottom_label{
    display: flex;
    flex-direction: row;
    gap: 42px;
}
.section_four .section_four_content .middle_content h5{
    margin-bottom: 17px;
}


.section_four .section_four_content .middle_content p{
    margin-bottom: 23px;
}

.section_four .section_four_content .middle_content  .bottom_label{
    margin-bottom: 15px;
}
.section_four .section_four_content .bottom_content a.cta_button{
    padding: 16px 26px
}

/* section five styling */


.section_five{
    padding: 120px 0;

}
.section_five_content .top_content{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.section_five_content .top_content .bottom{
    display: flex;
}

.section_five_content .top_content .bottom .right {
    padding: 60px 35px;
    background-color: #F5F9FC;
}

.section_five_content .top_content .bottom .right .top_label{
    display: flex;
    gap: 40px;
    margin-bottom: 15px;
}




.section_five_content .top_content .bottom .right{
    max-width: 41%;
}




@media (max-width:1023px) {
    .section_two .section_two_content .row .card{
        flex-basis: 28%;
    }
    .section_one{
    padding-top: 80px ;

    }
    .section_four{
        padding: 80px 0;

    }
    .section_two{
        padding: 80px 0;
    }
    .section_three{
        padding: 80px 0;

    }

    .section_three .section_three_content {
        gap: 40px;
    }
    .section_three .section_three_content .bottom_content .row .card{
        flex-basis:39%;
}
.section_five{
    padding: 80px 0;
}

}




@media (max-width:767px) {
    .section_one{
        padding: 60px 0;

    }
    .section_three{
        padding: 60px 0;

    }
    .section_four{
        padding: 60px 0;

    }
    .section_five{
        padding: 60px 0;
    }
.section_two{
    padding: 60px 0;
}
    .section_one_content .left{
        max-width: 100%;
    }
    .section_one_content .right{
        max-width: 100%;
    }
    .section_one .section_one_content{
       flex-direction: column;
       align-items: center;
       text-align: center;
    } 
    .section_two .section_two_content .row .card{
        flex-basis: 41%;
    }
    .section_three .section_three_content .bottom_content .row .card{
        flex-basis:100%;
}
.section_three .section_three_content {
    gap: 20px;
}
.section_three .section_three_content .bottom_content .row {
  
    gap: 15px;
}

.section_four .section_four_content .middle_content {
    flex-direction: column;
    gap: 40px;
}
.section_four .section_four_content .middle_content .left,.right{
    max-width: 100%;
}
.section_four .section_four_content .top_content {
    max-width: 100%;
}
.section_four .section_four_content .bottom_content {
    justify-content: flex-start;}


    .section_five_content .top_content .bottom {
        flex-direction: column;}
    
    .section_five_content .top_content{
        text-align: center;
    }

    .section_five_content .top_content .bottom .right {
        padding: 30px 25px;
        text-align: start;
        max-width: 100%;

    }
    .section_five_content .top_content {
        gap: 30px;
    }
}

@media (max-width:424px) {
    .section_two .section_two_content .row .card{
        flex-basis: 100%;
    }
}